.content {
  background-color: white;
  height: 19rem;
  margin-top: 1rem;
  padding: 10px;
}

.details img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.image-details {
  width: 150px;
  height: 150px;
}

.content > .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing p:nth-child(2) {
  font-weight: 600;
  margin-top: -12px;
}
