.category {
  height: 8rem;
  width: 90%;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 0 1rem;
  margin-top: 5rem;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  justify-content: center;
}

.category::-webkit-scrollbar {
  display: none;
}

.category div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
}

.category img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.category p {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5rem;
}

.category div:hover {
  cursor: pointer;
}
@media screen and (max-width: 936px) {
  .category {
    margin-top: 8rem;
  }
}
