.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .card-grid {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }
}
